body {
    font: 400 25px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    background-color: whitesmoke;
}
h2 {
font-size: 24px;
text-transform: uppercase;
color: #303030;
font-weight: 600;
}
h4 {
font-size: 19px;
line-height: 1.375em;
color:rgba(255,255,255,1);
font-weight: 400;
margin-bottom: 30px;
}  
.jumbotron {
color: black;
padding: 100px 25px;
font-family: Montserrat, sans-serif;
}
.container-fluid {
padding: 60px 50px;
}
.bg-grey {
background-color: #f6f6f6;
}
.logo-small {
font-size: 50px;
}
.logo {
font-size: 200px;
}
.thumbnail {
padding: 0 0 15px 0;
border: none;
border-radius: 0;
}
.thumbnail img {
width: 100%;
height: 100%;
margin-bottom: 10px;
}
.item h4 {
font-size: 19px;
line-height: 1.375em;
font-weight: 400;
font-style: italic;
margin: 70px 0;
}
.item span {
font-style: normal;
}

.navbar {
position: fixed;
border-radius: 0;
top: 0;
left: 0;
width: 100%;
height: 25px;
margin-bottom: 0;
background-color: #217bb0;
z-index: 9999;
border: 0;
font-size: 12px !important;
letter-spacing: 1.5px;
font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
color: #fff !important;
transition-property: background-color, color;
transition-duration: 0.5s;
}

.navbar-brand {
margin: 0;

}

.navbar-nav li a:hover, .navbar-nav li.active a {
color: #1a3d7e !important;
background-color: #fff !important;
}
.navbar-default .navbar-toggle {
border-color: transparent;
color: #fff !important;
}
footer .glyphicon {
font-size: 20px;
margin-bottom: 20px;
color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
animation-name: slide;
-webkit-animation-name: slide;
animation-duration: 1s;
-webkit-animation-duration: 1s;
visibility: visible;
}

.dell-icon {
    padding-top: 20px;
    height: 170px;
    width: 150px;
}
.dell-icon-3 {
    padding-top: -10px;
    padding-bottom:5px;
    height:50px;
}
.search{
    border-radius: 0;
    background-color:#0d62a1;
    color: #f1f1f1;
    transition: .2s;
}
.search:hover, .search:focus {

    background-color: #2980ba;
    color: white;
  }

.cover {
    margin: 0;
    padding: 0;
    /* Full height */
    height: 100%; 
    width: 100%;
}

.shadow {
    box-shadow: 0px 1px 15px;
    margin-top: 50px;
}

.cards {
    color: rgba(255, 255, 255,1);
    cursor: pointer;
    padding: 30px;
    margin-bottom: 20px;
    transition-property: box-shadow;
    transition-duration: 0.25s;
    box-shadow: 0px 0px lightgray;
}

.cards:hover {
   box-shadow: 2px 3px 10px lightgray; 
}
.cards > span{
    transition-duration: 0.4s;
}
.cards:hover > span{
    
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

#itdiv {
    display: none;
}

#businessdiv {
    display: none;
}

#supportdiv {
    display: none;
}

#warrantydiv {
    display: none;
}

.serviceimage {
    height: 250px;
    width: 100%;
}

.mybutton {
    background-color: #1a7e4f;
    padding: 10px;
    color: white;
    border: 0;
    transition-property: background-color,box-shadow;
    transition-duration: 0.2s;
    

}

.mybutton:hover {
    box-shadow: 0px 3px 6px gray; 
    background-color: #135acf;
    
}

@keyframes slide {
0% {
    opacity: 0;
    transform: translateY(70%);
} 
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@-webkit-keyframes slide {
0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
} 
100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
}
}
@media screen and (max-width: 768px) {
.col-sm-4 {
    text-align: center;
    margin: 25px 0;
}
.btn-lg {
    width: 100%;
    margin-bottom: 35px;
}
}
@media screen and (max-width: 480px) {
.logo {
    font-size: 150px;
}
}
