#background {
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
#foreground {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
#foreground section .beforeInput,
#foreground section .afterInput {
padding: 0.6rem 0.8rem;
}
* {
box-sizing: border-box;
}
body {
margin: 0;
font-family: "Source Sans Pro", "Open Sans", "helvetica neue", helvetica, Arial, sans-serif;
color: #fff;
background-color: #217bb0;
}
p,
h1 {
margin: 0;
}
#background {
width: 80vw;
background-color: rgba(0,0,0,0.8);
}
#background::after {
display: table;
clear: both;
content: '';
}
#background .info {
float: left;
width: 50%;
padding: 3rem;
}
#background p:nth-child(1) {
font-size: 2.5rem;
padding-bottom: 2rem;
}
#background p:nth-child(2) {
font-size: 0.9rem;
padding-bottom: 2rem;
}
#background button {
color: #f1f1f1;
background-color: transparent;
border: 1px solid #f1f1f1;
cursor: pointer;
display: inline-block;
outline: none;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
transition: 0.15s;
}
#background button:hover {
background-color: #fff;
color: #212529;
}
#foreground {
width: 40vw;
height: 90vh;
background-color: #fff;
left: 47vw;
}
#foreground.left {
left: 12vw;
animation: to-left 0.8s;
}
#foreground.left #login {
display: none;
}
#foreground.left #register {
display: block;
}
#foreground.right {
left: 47vw;
animation: to-right 0.8s;
}
#foreground.right #register {
display: none;
}
#foreground.right #login {
display: block;
}
#foreground #register {
display: none;
}
#foreground section {
padding: 3rem;
}
#foreground section h1 {
color: #0c3563;
font-weight: normal;
}
#foreground section form {
padding-top: 2rem;
}
#foreground section .input {
margin-bottom: 1rem;
display: flex;
flex-direction: row;
align-items: center;
border: 1px solid rgba(0,0,0,0.25);
border-radius: 4px;
}
#foreground section .afterInput {
border-left: 1px solid rgba(0,0,0,0.25);
cursor: pointer;
}
#foreground section img {
width: 24px;
height: 24px;
}
#foreground section input {
width: 100%;
padding: 0.8rem;
font-size: 1rem;
outline: none;
border: none;
border-radius: 4px;
border-left: 1px solid rgba(0,0,0,0.25);
}
textarea {
width: 100%;
font-size: 1rem;
padding-left: 0.8rem;
padding-top: 0.8rem;
outline: none;
border: none;
border-radius: 4px;
border-left: 1px solid rgba(0,0,0,0.25);
}
#foreground section input[type="submit"] {
border-radius: 4px;
background-color: #0c3563;
color: #fff;
cursor: pointer;
transition-duration: 0.5s;
transition-property: background-color;
}
#foreground section input[type="submit"]:hover {
background-color: #0a2c52;
}
#foreground section input[type="submit"]:active {
background-color: #0d4177;
}
@-moz-keyframes to-left {
0% {
    left: 47vw;
}
50% {
    left: 10vw;
}
100% {
    left: 12vw;
}
}
@-webkit-keyframes to-left {
0% {
    left: 47vw;
}
50% {
    left: 10vw;
}
100% {
    left: 12vw;
}
}
@-o-keyframes to-left {
0% {
    left: 47vw;
}
50% {
    left: 10vw;
}
100% {
    left: 12vw;
}
}
@keyframes to-left {
0% {
    left: 47vw;
}
50% {
    left: 10vw;
}
100% {
    left: 12vw;
}
}
@-moz-keyframes to-right {
0% {
    left: 12vw;
}
50% {
    left: 50vw;
}
100% {
    left: 47vw;
}
}
@-webkit-keyframes to-right {
0% {
    left: 12vw;
}
50% {
    left: 50vw;
}
100% {
    left: 47vw;
}
}
@-o-keyframes to-right {
0% {
    left: 12vw;
}
50% {
    left: 50vw;
}
100% {
    left: 47vw;
}
}
@keyframes to-right {
0% {
    left: 12vw;
}
50% {
    left: 50vw;
}
100% {
    left: 47vw;
}
}
    